.dialog{
    width: auto;
    height: auto;    
}

.dialog .img {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.dialog .name{
    color: rgb(3, 3, 3);
    font-size: large;
}

.dialog .type{
    color: rgb(3, 3, 3);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dialog .location .headerLocation{
    padding: 0;
    color: rgb(3, 3, 3);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dialog .location .locationFor{
    padding: 0;
    color: rgb(3, 3, 3);
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
