
  <mat-dialog-content class="dialog" >

    <div class="headerImg">
      <img class="img" [src]="data.image" alt="Pokemon">

    <h1 class="name" >
      {{data.name}}
    </h1>

    </div>



<div class="details">

  <!-- <img class="image" src="assets/Images/Background.jpg" alt="Pokemon"> -->

    <div  class="type" >
      <a class="headerType">Type: </a>
      <a class="DataType">{{ data.type }}</a>
        </div>


    <div class="moves" *ngIf="data?.moves?.length > 0">
      <a class="headerMoves">Moves:   </a>
      <p class="movesFor"  *ngFor="let move of data.moves">{{ move }} -> </p>
    </div>

    <div class="location" *ngIf="data?.location?.length > 0">
      <a class="headerLocation">Location:   </a>
      <li class="locationFor" *ngFor="let location of data.location">{{ location }}, </li>
    </div>

    <div class="evolves" *ngIf="data?.evolves?.length > 0">
    <a class="headerEvolves" >Evolves to:</a>
    <li class="evolvesFor" *ngFor="let e of data.evolves">{{ e }}</li>
    </div>

    <div class="games" *ngIf="data?.games?.length > 0">
    <a class="headerGames">Games:   </a>
    <li class="gamesFor" *ngFor="let g of data.games">{{ g }},</li>
    </div>
  </div>
  </mat-dialog-content>



