
  <div class="dialog" >

    <header>
      <img class="img" [src]="data.image" alt="Pokemon">
    </header>

    <h1 class="name" >
      {{data.name}}
    </h1>

    <p  class="type" >
      Type: {{ data.type }}
    </p>


    <div calss="moves" *ngIf="data?.moves?.length > 0">
      <p>Moves</p>
    <tr *ngFor="let move of data.moves">{{ move }} -> </tr>
    </div>

    <div class="location" *ngIf="data?.location?.length > 0">
      <p class="headerLocation">location</p>
      <li class="locationFor" *ngFor="let location of data.location">{{ location }}</li>
    </div>

    <h1>evolves to</h1>
    <li *ngFor="let e of data.evolves">{{ e }}</li>



  </div>



