<div class="main">

  <div class="favorites">
    <button class="buttonFav" mat-raised-button (click)="onOpenComponent()">
      <mat-icon *ngIf="displayPokemon">favorite icon</mat-icon>
      <mat-icon *ngIf="displayFavorites">arrow_forward</mat-icon>
    </button>
  </div>

  <header class="header">
    <img class="ImgPok" src="assets/Images/pokemon.jpg" alt="Italian Trulli">
  </header>

  <div id="comp-render-Pokemon" *ngIf="displayPokemon">
    <app-pokemons (pokemonFavorEvent)="receivePokemon($event)"
      (pokemonFavorEventDelete)="receivePokemonToDelete($event)" [Pokemonsfavor]="pokemonsListFavor"
      [pokemonsList]="pokemonsList"> </app-pokemons>
  </div>

  <div id="comp-render-Favorites" *ngIf="displayFavorites">
    <app-favorites [Pokemons]="pokemonsListFavor"></app-favorites>
  </div>


  <video hidden="true" title="Advertisement" src="assets/audio/songCut.wav" autoplay="true" muted="muted">
  </video>

</div>
