
.main{
  background-color:  azure;
}
.main .header{
  padding: 0;
  background: rgb(199, 196, 196);
  display: flex;
  justify-content: center;

}
.main .header .ImgPok{
  width: 400px;
}

.main .favorites{
  background-color: rgb(199, 196, 196);
  text-align-last: right;
}

.main .favorites .buttonFav {
  padding: 5px 10px;
  background-color: lavenderblush;
}
