<div class="main">

  <div class="favorites">
    <button class="buttonFav" mat-raised-button (click)="onOpenFavorites()">
      <mat-icon *ngIf="displayMain">favorite icon</mat-icon>
      <mat-icon *ngIf="displayFavorites">arrow_forward</mat-icon>
    </button>
  </div>

  <header class="header">
    <img class="ImgPok" src="assets/Images/pokemon.jpg" alt="Italian Trulli">
  </header>

  <div id="comp-render-Pokemon" *ngIf="displayMain">
    <app-pokemons (pokemonFavoreEvent)="receivePokemon($event)"
      (pokemonFavoreEventDelete)="receivePokemonToDelete($event)" [Pokemonsfavore]="pokemonsListFavore"
      [pokemonsList]="pokemonsList"> </app-pokemons>
  </div>

  <div id="comp-render-Favorites" *ngIf="displayFavorites">
    <app-favorites [Pokemons]="pokemonsListFavore"></app-favorites>
  </div>
</div>
