<div class="first">


  <header class="header">
      <img class="ImgPok" src="assets/Images/pokemon.jpg" alt="Italian Trulli">

    <div class="favorites">
      <button class="buttonFav" mat-raised-button (click)="onOpenFavorites()">
        <mat-icon>favorite icon</mat-icon>
      </button>
    </div>

  </header>




  <div class="grid">
    <div class="pokemon" *ngFor="let item of pokemonsList">
      <button class="button" mat-raised-button (click)="onOpenDialog(item)">
        <img class="img" [src]="item.sprites.front_default" alt="Pokemon">
      </button>
    </div>
  </div>

  <video
  title="Advertisement"
  src="assets/audio/songCut.wav"
  autoplay="true"
  muted="muted">
  </video>

</div>


