<div class="first">


  <header class="header">
    <img class="headerImg" src="assets/Images/pokemon.jpg" alt="Italian Trulli">
  </header>

  <video
  title="Advertisement"
  src="assets/audio/songCut.wav"
  autoplay="true"
  muted="muted"></video>

  <div class="grid">
    <div class="pokemon" *ngFor="let item of pokemonsList">
      <button class="button" mat-raised-button (click)="onOpenDialog(item)">
        <img class="img" [src]="item.sprites.front_default" alt="Pokemon">
      </button>
    </div>
  </div>
</div>


