<div class="first">

  <div class="grid">
    <div class="pokemon" *ngFor="let item of pokemonsList">
      <button class="buttonFavor" mat-raised-button (click)="addToFavor(item)">
        <mat-icon *ngIf="contains(item)">favorite_border</mat-icon>
        <mat-icon *ngIf="contains(item)!=true">favorite icon</mat-icon>
      </button>
      <button class="button" mat-raised-button (click)="onOpenDialog(item)">
        <img class="img" [src]="item.sprites.front_default" alt="Pokemon">
      </button>
    </div>
  </div>


</div>
