
.first{
  color: rgb(15, 14, 14);
  font-size: 23px;
}
.first .header{
  padding: 40px;
  text-align: center;
  background: rgb(199, 196, 196);
  color: rgb(3, 3, 3);
  font-size: large;
}

.first .grid{
  display: grid;
  grid-gap: 10px;
  padding: 20px;
  background-color:  azure;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
}

.first .grid .pokemon{
  height: 100px;
  box-shadow:  1px 2px 5px rgba(0, 0, 0, 0);
  padding: 30px;
  
}
.first .grid .pokemon .button {
  padding: 10px 24px;
  background-color: azure;
}

.first .grid .pokemon .button .img{
    width: 130px;
}

